<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='smile-logo-contact.jpg') }}">
</head>
<body>
<div class="header">
  <a class="navbar-brand" href="/">
    <img src="/static/logoEmotion.png" alt="Emotion Logo" class="logo">
  </a>
  <h1>Contactez-nous</h1>
</div>

<div class="content">
  <p>Cette page est la page "Contact" du site.</p>
</div>
</body>
</html>
