<!DOCTYPE html>
<html>
<head>
  <title>Message envoyé</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='thank_you.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='smile-logo-curieux.png') }}">
</head>
<body>
<div class="header">
  <a class="navbar-brand" href="/">
    <img src="/static/logoEmotion.png" alt="Emotion Logo" class="logo">
  </a>
</div>

<div class="content">
  <h1>Merci pour votre message !</h1>
  <p>Nous avons bien reçu votre message et nous vous répondrons dès que possible.</p>
  <a href="/" class="btn">Retour à l'accueil</a>
</div>
</body>
</html>
